{% extends "layout.html" %}

{% block content %}
<div class="chat">
    <div id="messages" class="message_holder overflow-auto" style="overflow-y: scroll; height:500px;">
        <!-- {% if messages %}
            <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
        {% endif %} -->
        {% for msg in messages %}
            {% if msg.joined %}
                <!-- <div>{{msg.author.username}} joined the chat.</div> -->
            {% else %}
              {% if current_user.username == msg.author.username %}
              <div class="chat chat-current">
                <b style="color:#000" class="left">{{msg.author.username}}</b>
                <p>{{msg.message}}</p>
                <p class="time-left" style="">{{msg.time_sent.strftime("%Y-%m-%d %H:%M")}}</p>
              </div>
              {% else %}
              <div class="chat chat-darker"><b style="color:#000" class="left">{{msg.author.username}}</b><p>{{msg.message}}</p><p class="time-left" style="">{{msg.time_sent.strftime("%Y-%m-%d %H:%M")}}</p></div>
              <!-- <div><b style="color:#000">{{msg.author.username}}</b>: {{msg.message}}</div> -->
              {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <form method="POST" action="" style="bottom:0; margin: 0% 0% 10px 0%;">
        {{ form.hidden_tag() }}
        <!-- <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Message" aria-label="Message" id="msg">
              <div class="input-group-append">
                <button class="btn btn-success" type="submit" id="sendBtn">Send</button>
              </div>
        </div> -->
        <div class="form-row messageForm">
          <div class="col-10">
            {% if form.message.errors %}
                {{ form.message(id="message", class="form-control py-0", placeholder="message") }}
                <div class="invalid-feedback">
                    {% for error in form.message.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.message(id="message", class="form-control", placeholder="message") }}
            {% endif %}
              </div>
              <div class="col-2">
                {{ form.submit(class="btn-success send-btn") }}
              </div>
            </div>
    </form>
</div>
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='js/client.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
