{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">This is a prototype of an online Chat Application.</p>
  <hr class="my-4">
  <p>Register an account or login if you already have one!</p>
  {% if current_user.is_authenticated %}
    <a id="generalChat" class="btn btn-primary btn-lg" href="{{ url_for('chat') }}" role="button" onclick="joinChat()">General Chat</a>
  {% else %}
    <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Register</a>
  {% endif %}
</div>
{% endblock %}
