{% extends "layout.html" %}
{% block content %}
<div class="custom-form">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 form-legend">Register An Account</legend>
            {% for input in listForms %}
            <div class="form-group">
                {{ input.label(class="form-control-label") }}
                {% if input.errors %}
                    {{ input(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in input.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ input(class="form-control") }}
                {% endif %}
            </div>
            {% endfor %}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a href="{{ url_for('login') }}" class="ml-2">Login</a>
        </small>
    </div>
</div>
{% endblock %}
