.custom-form {
  width: 60%;
  margin: 0 auto;
  margin-top: 40px;
}

.flash-msgs {
  width: 60%;
  margin: 0 auto;
  margin-top: 80px;
}

.messageForm {
  margin: auto;
  width: 90%;
  padding: 10px;
}

.message_holder {
  margin: auto;
  width: 90%;
  padding: 10px;
}
